:root {
    --lightColor1: rgb(22, 21, 20);
    --lightColor2: rgb(20, 20, 20);
    --mediumColor1: rgb(37, 35, 32);
    --mediumColor2: rgb(32, 32, 32);
    --mediumDarkColor1: rgb(0, 0, 0);
    --highlightColor1: rgb(255, 99, 71);
}

* {
    font-family: Roboto;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 2;
    font-weight: 400;
    color: rgb(252, 238, 238);
    font-size: 18px;
}

body {
    background-color:var(--mediumColor1);
}

.content {
    max-width: 1000px;
    margin: auto;
}

/*Nav styles */
nav {
    background-color: var(--lightColor1);
    margin: auto;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#nav__title {
    display: block;
    float: left;
}

#nav__title a {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

#nav__title a:hover{
    color: var(--highlightColor1);
}

.nav__list {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.nav__list a{
    display: block;
    padding: 8px 12px;
    transition: all 0.3s ease;
    text-decoration: none;
}

#myLinks {
    display: none;
}

.nav__list-item {
    float: none;
}

.nav__list-item a:hover{
    color: rgb(0, 0, 0);
    background-color: var(--highlightColor1);
    transition: all 0.3s ease;
}

#nav__icon{
    display: inline-table;
    cursor: pointer;
    padding-right: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: var(--highlightColor1);
    margin: 7px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/* end of Nav styling */



/* Intro styling */
.intro{
    display: block;
    margin: auto;
}

.intro__image {
    text-align: center;
}

.intro img{
    margin: 10px;
}

p {
    margin: 20px;
}
/* end of Intro styling */


/* Top-section styling */
.top-section {
    background-color: var(--mediumColor2);
    text-align: center;
    padding-top: 100px;
}

.top-section h1 {
    font-weight: 600;
    font-size: 32px;
    padding: 0;
}

.top-section .smaller {
    font-size: 20px;
    padding: 0 20px;
}

.top-section h2{
    font-weight: 600;
    font-size: 24px;
}

.top-section p {
    padding: 20px 0;
}
/* end of Top-section styling */


/* Article styling */
.article {
    width: 100%;
}

.article .bread{
    display: block;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--lightColor1);
}

.article__text {
    margin: 1rem 2rem;
}

.article__text ul {
    margin-left: 20px;
}

.article .bread img{
    display: block;
    max-width: 100%;
    height: auto;
}

.article .top-section{
    background-color: var(--lightColor2);
    font-weight: 600;
}

.article .top-section p{
    padding: 0;
    display: inline-block;
}

.article .top-section h2{
    font-weight: 600;
}

#article__skills-container {
    margin: auto;
    max-width: 1000px;
}

#article__skills {
    background-color: var(--mediumColor2);
    text-align: left;
    width: max-content;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.skill{
    display: inline-flex;
    width: 240px;
    max-width: 85vw;
    margin-bottom: 10px;
}

#article__skills img {  
    position: absolute;
}
/* end of Article styling */

/* Timeline styling */
.timeline {
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color:var(--mediumDarkColor1);
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
}

.timeline__link {
    text-decoration: none;
    background-color: red;
}

.timeline ul li:last-child{
    margin-bottom: 0;
}

.container {
    width: 100%;
}
.timeline__content h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline__content img {
    max-height: 120px;
    display: block;
    margin: auto;
}

.timeline__content p {
    line-height: 30px;
}

.timeline__content-grid {
    display: block;
    grid-template-columns: auto auto;
}

.timeline__content-grid img {
    padding: 5px;
}

.timeline__content .date{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.description {
    position: relative;
    margin-left: 40px;
    display: inline-block;
}

.skills img {
    display: inline-block;
}

.skills {
    margin-left: 0px;
}

.balckToWhite {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.skills div img{
    position: absolute;
    display: inline-block;
}

.skills h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}
/* end of Timeline styling */

@media only screen and (min-width: 768px){

    .intro{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .intro p {
        text-align: left;
    }

    /*Nav styles */
    nav {
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    #nav__title a {
        font-size: 24px;
        padding: 24px 16px;
    }

    .nav__list a{
        display: block;
        padding: 30px 16px;
    }

    .nav__list-item {
        display: inline-block;
    }

    #myLinks{
        display: inline-block   ;
    }

    #nav__icon{
        display: none;
    }
    /* end of Nav styles */

    .top-section {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .timeline {
        padding: 100px 0;
    }
    
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 10px 0 10px 10px;
    }

    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0 10px 10px 10px;
    }

    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -30px;
    }
    
    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline ul li:hover::after{
        background-color: var(--highlightColor1);
    }

    .timeline__content .date{
        position: absolute;
        top: -20px;
    }

    a img:hover{
        outline: var(--highlightColor1) solid 2px;
    }
}

@media only screen and (min-width: 1000px){
    .article .bread{
        display: grid;
    }

    .timeline__content-grid{
        display: grid;
    }
    
    .article .bread{
        margin: 20px auto;
    }
}

@media only screen and (min-width: 1300px){
}